body{
  margin: 0;
}

header{
  background: red;
  height: 100px;
}

.firstview{
  background: pink;
  height: 100px;
}

.firstview{
  background: pink;
  height: 100px;
}

.firstview{
  background: pink;
  height: 100px;
}

.firstview{
  background: pink;
  height: 100px;
}

.firstview{
  background: pink;
  height: 100px;
}