@charset"utf-8";


body{
  margin: 0;
  width: 100%;
}

.common_subtitle {
  margin: 0 auto;
  margin-bottom: 40px;
}

/* ヘッダーここから */
header{
  height: 60px;
  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  height: 37px;
  width: 67px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.header-title a{
  color: black;
  text-decoration: none;
}

nav{
  height: 60px;
  width: 542px;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li{
  margin-left: 20px;
}

header nav ul li a{
  text-decoration: none;
  color:black;
}

header nav ul li a:hover{
  color:pink;
}

/* fvここから */
.firstview{
  background: skyblue;
  height: 664px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("imgアセット//1stview.png");
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100% 664px;
}

.f_con{
  height: 100px;
  width: 400px;
  color: white;
  z-index: 3;
}

.overlay::before{
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 664px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

/* 自己紹介ここから */
.aboutme{
  height: 477px;
  padding: 70px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutme_content h2{
  font-weight: 300;
}


.aboutme_img img{
  height: 333px;
  width: 530px;
  border-radius: 5px;
}

.aboutme_content {
  height: 333px;
  width: 530px;
  background: red;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.aboutme_content ul{  
  display: flex;
  list-style: none;
  padding: 0;
}

.aboutme_content ul li a{  
  margin-right: 10px;
  margin: 0px 10px 0px 0px; 
  padding: 0;
}


.aboutme_content ul li a svg path:hover{  
transition: all 0.3s pink;
}

/* スキルここから */
.skill{
  height: 684px;
  display: flex;
  flex-direction: column;
}

.skill h2{
  font-size: 50px;
  margin-bottom: 0px;
  background:red;
}

.skill_content{
  height: 416px;
  margin: 60px;
}

table {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-collapse: collapse;
}

table tr:hover {
  background-color: rgb(173, 172, 172)
}

table th{
  border-bottom: 1px solid rgb(226, 225, 225);
  width: 100%/5;
}

table td{
  width: 100%/5;
  text-align: center;
  border-bottom:1px solid rgb(226, 225, 225);
}

.html{
  background-image: url("imgアセット/html-5.png")
}

.css{
  background-image: url("imgアセット/css-3.png")
}

.js{
  background-image: url("imgアセット/javascript.png")
}

.vue{
  background-image: url("imgアセット/vue.png")
}

.nuxt{
  background-image: url("imgアセット/nuxt-icon.png")
}

.fire{
  background-image: url("imgアセット/firebase.png")
}

.Node{
  background-image: url("imgアセット/nodejs.png")
}

.common_image{
  background-size: 35px;
  background-position: right;
  background-repeat: no-repeat;
}


/* 仕事はここから */
.works{
    height: 835px;
    width:100%;
    display: flex;
    flex-direction: column;
}

.works_title{
    font-size: 30px;
    margin-bottom: 0px;
    background:red;
}

.works_description{
  background:rgb(241, 241, 241);
  height:550px;
}

.works_description ul{
  width:100%;
  height: 100%;
  display: flex;
  justify-content:space-around;
  list-style: none;
  padding: 0;
}

.works_description ul li{
  height: 531px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size:15px;
  margin-left: 15px;
}

.works_description ul li:first-child{
  margin: 0px;
}

.works_description ul li p{
  padding-left: 20px;
}


/* ハンバーガー */
#head_open{
  color:orange;
  cursor: pointer;
}

.overlay2{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background:rgb(195, 237, 253);
  text-align: center;
  padding: 64px;
  opacity: 0;
  /* 最初は非表示のため０にしておく */
  pointer-events: none;
  transition: opacity .6s;
  z-index: 4;
}

.overlay2.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay2 #head_close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
  color:orange;
}

.overlay2 ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.overlay2 li {
  margin-top: 24px;
  font-size:20px;
  margin: 50px auto;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay2.show li {
  opacity: 1;
  transform: none;
}

.overlay2.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay2.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay2.show li:nth-child(3) {
  transition-delay: .3s;
}
/* ハンバーガー終了 */

/* モーダル */
#open3,
#open4,
#open5,
#close3{
  cursor: pointer;
  color:red;
}

#mask{
  background:rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  margin: 0 auto;
  transition: transform 0.3s;
  z-index: 2;
}

#mask.hidden{
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
  display: none;
} 

/* 経歴 */

.works_description ul li a{
  padding-left: 20px;
}

.works_description img{
  width:100%;
  height: 230px;
  border-radius: 5px;
}

.number{
  font-size: 20px;
  padding-right: 34px;
}
/* 経歴ここから */
.timeline{
  background: rgb(223, 223, 223);
  height: 1205px;
  display: flex;
  flex-direction: column;
}

.timeline_title h2{
  font-size: 40px;
  text-align: center;
}

.timeline_content{
  width:100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content_box{
  width: 50%;
  display: flex;
  flex-direction: row;
  border-right: 1px dashed red;
  position: relative;
}

.content_box:nth-child(2){
  color: white;
  align-self: flex-end;
  flex-direction: row-reverse;
  border-left: 1px dashed red
}

.timeline_yoko{
  background:orange;
  height:100px;
  width: 120px;
  border-bottom: 1px dashed red;
}

.timeline_content::before {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border: 5px solid green;
  box-shadow: 0 0 0 2px red;
  transform: rotate(45deg);
  position: absolute;
  right: 485px;
  top: -10px;
}

.timeline_content::after {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border: 5px solid green;
  box-shadow: 0 0 0 2px red;
  transform: rotate(45deg);
  position: absolute;
  right: 485px;
  top: 630px;
}


.content_box-body{
  background:pink;
  padding:10px;
}

.content_box-body:hover{
border: 1px dashed red;
}



/* 問合せここから */
.contact{
  height: 992px;
  width: 600px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.contact_title h3{
  font-size: 40px;
  text-align: center;
}

.contact form input {
  width: 100%;
  height: 50px;
  background: pink;
  border-style: none;
  margin-bottom: 40px;
  border-radius: 5px;
}

.contact form textarea {
  width: 100%;
  height: 150px;
  background: pink;
  border-style: none;
  margin-bottom: 20px;
  border-radius: 5px;
}

.checkbox_post{
  position: relative;
}

.contact .check{
  width: 50px;
  height: 20px;
  position: absolute;
  left: 220px;
  top:-24px;
}

.contact form button {
  font-size: 16px;
  display: block;
  margin: 40px auto 0 auto;
  border-radius: 30px;
  width: 50%;
  height: 50px;
  color: white;
  border-style: none;
  background: black;
}

.contact form button:hover{
  background: pink;
  transition: all 0.3s;
}

/* フッターここから */
footer{
  background: black;
  height: 150px;
  width: 100%;
  color: white;
}

footer ul{
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:36px;
  list-style: none;
}


footer ul li a{
  fill: white;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
}

footer p{
  text-align: center;
}

.icon:hover{
  fill:red;
  transition: 0.3s;
}

#Capa_1:hover{
  fill: red;
  transition: 0.3s;
}